
		body{
				background-color: #bcc2e5;
			}

		div{
					padding: 20px;
					font-size: 20px;
			}

		.footer{
					color: #fff!important;
					background-color: #2196F3!important;
					padding-top: 64px!important;
					padding-bottom: 64px!important;	
					text-align: center!important;
					font-size: 24px!important;
					display:

			}

		.nav{
					color: #fff!important;
					background-color: #2196F3!important;
					background-color: inherit;

			}
		.nav1{
	 
 					padding: 12px 27px;
			}